:root{
    --main-el-bg:#e9e9e9;
    --main-el-color:black;
    --main-pg-bg:white;
    --main-el-bg-hover:#d1d1d1;
    --main-el-bg-active:#b3b3b3;
    --main-el-bg-before:#333;
    --main-el-bg-before-a:#33333300;
    --main-nav-btn-hover:rgb(185, 185, 185);
    --main-nav-btn-active:rgb(167, 167, 167);
    --main-nav-selected:rgb(201, 201, 201);
    --main-splash-none-focus:#00000015;
    --main-file-p-color:#333;
   --main-asp-btn-before:#cecece;
  --main-asp-btn-after:#adadad;
   --main-flex-card-bg:#0000001c;
   --main-actionkey-bg:#7c7c7c33;
   --main-actionkey-bg-hover:#00000033;
   --main-key-fill-bg:#f8f8f8;
   --main-key-gradient-bg-middle:#f8f8f782;
   --app-title-bg:rgb(241, 241, 241);
   --app-title-border:rgb(233, 233, 233);
}
:root[data-yo]{
    --main-el-bg: #363636;
    --main-el-color: #ffffff;
    --main-pg-bg: #1c1c1c;
    --main-el-bg-hover: #4f4f4f;
    --main-el-bg-active: #696969;
    --main-el-bg-before: #ffffff;
    --main-el-bg-before-a: #ffffff00;
    --main-nav-btn-hover: rgb(53 53 53);
    --main-nav-btn-active: rgb(41 41 41);
    --main-nav-selected: rgb(61 61 61);
    --main-splash-none-focus: #ffffff15;
    --main-file-p-color: #ffffff;
    --main-asp-btn-before: #515151;
    --main-asp-btn-after: #7d7d7d;
    --main-flex-card-bg: #ffffff45;
    --main-actionkey-bg: #7c7c7c33;
    --main-actionkey-bg-hover: #d7d7d733;
    --main-key-fill-bg: #363636;
    --main-key-gradient-bg-middle: #4949497a;
    --app-title-bg: rgb(28 28 28);
    --app-title-border: rgb(41 41 41);
}
[tromoSM="flex-wr-pos-abs"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 0;
}
[template="infoMain"] span{
    opacity: 0.4;
}
[template="infoMain"]{
    overflow: hidden;
}
[title="icon"]{
    height:20px;
    filter: drop-shadow(0px 0px 1px black);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0px 5px;

}
[tromoSM=flex-wr-pos-ab-l]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    position: absolute;
    left: 0;
}
MINIMIZE,RESTORE,CLOSE{
    height: 100%;
    width: 46px;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    align-items: center;
    -webkit-app-region:no-drag;
    position: relative;
    background-color: rgba(253, 184, 255, 0);
}
MINIMIZE::before{
    background-color: rgb(255, 233, 35);
}
RESTORE::before{
    background-color: rgb(35, 255, 72);
}
CLOSE::before{
    background-color: rgb(255, 35, 35);
}
MINIMIZE::before,RESTORE::before,CLOSE::before{
    width: 100%;
    height:5px;
    filter: blur(8px);
    content:'';
    bottom: 0;
    z-index: -1;
    position:absolute;
    transform: translateY(20px);
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);  
}
[tromoSM=input-io-main]{
    width: 400px;
    height: 250px;
    display: flex;
    background-color: var(--main-el-bg);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: 15px;
    flex-wrap: nowrap;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}
[tromoSM=each-loader]{
    background-color: rgb(0, 0, 0);
    width: 2px;
    height: 5px;
    border-radius: 50px;
    animation: o 2s infinite cubic-bezier(0.165, 0.84, 0.44, 1) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin:  0 0;
}
[button="def"]{
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    outline: none;
    width:fit-content;
    cursor:pointer;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    background-color: var(--main-el-bg);
        -webkit-font-smoothing: antialised;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}
[button="def"]:hover{
    background-color: var(--main-el-bg-hover);
}
[button="def"]:active{
    background-color: var(--main-el-bg-active);
}
[button="def"]:active::before{
    background-color: var(--main-el-bg-before);
    transform: scale(0);
    opacity: 0;
}
[button="def"]::before{
    width: 100%;
    height: 100%;
    content: '';
    transition: 0.3s;
    opacity: 1;
    position: absolute;
    top: 0;
    border-radius: 50px;
    left: 0;
    background-color: var(--main-el-bg-before-a);
}
sector-page{
    width: 100vw;
    position: fixed;
    top: 28px;
    z-index: +6;
    padding: 0;
    background: var(--app-title-bg);
    display:flex;
    align-items: center;
    height: 28px;
}
[tromoSM="nav-n-head"]{
background-color: rgba(231, 231, 231, 0);
height: 100%;
margin: 0px !important;
display: flex;
justify-content: center;
align-items: center;
opacity: 0.8;
padding: 0px 10px;
transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[click]{
    cursor: pointer;
}
[num]{
    display: flex;
    margin: 10px;
    gap: 5px;
    align-items: flex-start;
}
[tromoSM="nav-n-head"]:hover{
background-color: var(--main-nav-btn-hover);
}
[tromoSM="nav-n-head"]:active{
background-color: var(--main-nav-btn-active);
}

[selected=true-a-acc]{
background-color:var(--main-nav-selected);
opacity: 1;
}
[tromoSM=loadscreen]{
    backdrop-filter: blur(5px);
    background-color: var(--main-splash-none-focus);
    position: fixed;
    z-index: +9;
    width: 100vw;
    height: 100vh;
    top: 0;
}
[tromoSM="load"]{
    display: none;
}
@keyframes o {
    from,to,50%{
        height: 5px;
        opacity: 1;
    }
    90%{
     height: 7px;
     opacity: 0.1;
    }
}
[flex="co"]{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;}
[tromoSM=playercontrols]{
    position: absolute;
    top:0;
    right: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
[tromoSM=playercontrols] button svg{
        z-index: 1;
}
[tromoSM=playercontrols] button{
    width: 30px;
    border:none;
    outline: none;
    height: 30px;
    padding: 5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;
    z-index: 1;
    border-radius: 50px;
    background-color: #00000057;
}
[tromoSM=playercontrols] button::before{
    backdrop-filter: blur(15px) brightness(1.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    z-index: 0;
    border-radius: 50px;
}
[tromoSM=input-io-main] p{
    color: var(--main-file-p-color);
    font-weight: 500;
}

[tromoSM="input-in-de"]{
    border: none;
    outline: none;
    font-size: large;
    width: 80%;
    background: var(--main-el-bg);
}
[t=flow],[t=after]{
    position: absolute;
    transition: 0.2s;
}
[t=flow]{
    transform: scale(0) rotate(20deg);
    color:  rgb(255, 45, 45);
    font-size: medium;
}
[t=after]{
    transform: scale(0) rotate(20deg);
    color: rgb(6 215 6);
}
[tromoSM="input-in-de-ux"]{
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: small;
    text-align: center;
    margin-right: 5px;
    opacity: 0;
    border-radius: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 45, 45);
}
[template="button1:1-default"]{
    border-radius: 50px;
    background-color: var(--main-el-bg);
    height: 33px;
    width: 33px;
    border: none;
    outline: none;
    overflow: hidden;
    flex-wrap: nowrap;
    transition: 0.2s;
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
}
[template="button1:1-default"]::before{
width: 100%;
position: absolute;
top: 0;
z-index: 0;
background-color: var(--main-asp-btn-before);
content:'';
left: 0;
transition: 0.2s;
height: 100%;
transform: scale(0);
border-radius: 50px;
}

[template="button1:1-default"]::after{
    width: 100%;
position: absolute;
top: 0;
z-index: 0;
background-color: var(--main-asp-btn-after);
content:'';
left: 0;
transition: 0.2s;
height: 100%;
transform: scale(0);
border-radius: 50px;
}
[tromoSM=flex-full-backdrop]{
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 14px;
    position: fixed;
    top: 0;
    z-index: +67;
}
[tromoSM=flex-full-backdrop]::before{
    height: 100vh;
    width: 100vw;
    margin-top: 14px;
    position: fixed;
    content: '';
    top: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: -5;
}
[help="qr"]{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}
[tromoSM="small-strict"]{
   scale: 0.8 !important;
}
[tromoSM=flex-card] h1{
    font-size: x-large;
    overflow-x: unset;
    text-wrap: break;
    overflow-wrap: anywhere;
    opacity: 0;
    transform: scale(0);
    animation: open-ani-scale-1 0.5s 0.4s 1 forwards;
}
[tromoSM=flex-full-backdrop-event]{
    width: 100vw;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    margin-top: 14px;
    position: fixed;
}
[tromoSM=flex-card]{
    height:fit-content;
    position: relative;
    z-index: +5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    margin: 30px 500px;
    padding: 10px;
    backdrop-filter: blur(15px);
    background-color: var(--main-flex-card-bg);
    border-radius: 25px;
    animation: open-ani-scale-1 0.5s 1 ;
}

@keyframes open-ani-scale-1{
    from{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 1;
        transform: scale(1.1);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}
[tromoSM=flex-card] img{
    border-radius: 20px;
    opacity: 0;
    transform: scale(0);
    animation: open-ani-scale-1 0.5s 0.2s 1 forwards;
}
button{
    cursor: pointer;
    color: var(--main-el-color);
}
input{
    color: var(--main-el-color);
    caret-color: var(--main-el-color);
}
[template="button1:1-default"]:hover::before{
transform: scale(1);
}
[template="button1:1-default"]:active::after{
transform: scale(1);
}
[template="button1:1-default"] svg{
    z-index: 2;
    width: 20px;
    transition: 0.1s;
    filter: drop-shadow(0px 3px 6.7px black);
}
[template="button1:1-default"]:hover svg{
    filter: drop-shadow(2px 4px 6px black);
}
[tromoSM=flex-wr-full-inp]{
    height: 33px;
    display: flex;
    align-items: center;
    width: fit-content;
}
[green]{
    border:2px solid rgb(0 221 0);
}
[tromoSM="flex-wr-inp-in-de"]{
 background: var(--main-el-bg);
 position: relative;
 width: fit-content;
 display: flex;
 cursor: text;
 align-items: center;
 padding: 5px 10px;
 border-radius: 50px;
}
[fill="in-devalve"]{
    color: var(--main-el-color) !important;
}
[tromoSM=main-prev],[tromoSM=retr-prev]{
    position: absolute;
    top: 0;
    width: 400px;
    object-fit: cover;
    height: 250px;
}
[onerr="true"]{
    background-color: var(--main-el-bg);
    width: 400px;
    height: 250px;
    display: flex;
    z-index: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
[tromoSM=input-io-main]:hover{
    filter: brightness(0.8) ;
}
[tromoSM=input-io-main]:active{
    filter: brightness(0.6);
}
MINIMIZE:hover::before,RESTORE:hover::before,CLOSE:hover::before{
    transform: translateY(0px);
}
MINIMIZE:active::before,RESTORE:active::before,CLOSE:active::before{
    transform: translateY(0px);
    height: 100%;
    filter:blur(0px) brightness(1.1);
}
[tromosm="notification"] {
    display: flex;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px -5px rgba(255, 255, 255, 0.39) inset, -5px -5px 5px -5px rgba(255, 255, 255, 0.39) inset, 0px 0px 5px rgb(0 0 0 / 30%);
    background: #9b9b9b45;
    backdrop-filter: blur(5px);
    gap:5px;
    transform: translateY(-50px);
    animation: open-ani-notif-small 2s 1;
    text-shadow: 0px 0px 5px #00000059;
}
[tromosm="notification"] svg {
    width: 22px;
}
[tromosm="notifi-wrap-small"] {
    position: fixed;
    top: 0;
    margin-top: 60px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
@keyframes open-ani-notif-small{
  from,to{
    transform: translateY(-50px);
  }
  20%, 70% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(10px);
  }
}
[tromoSM="TitleB-org"]{
    background-color: var(--app-title-bg);
    width: 100%;
    position: relative;
    z-index: +9999999999999999;
    border-bottom: 1px solid var(--app-title-border);
    height: 28px;
    -webkit-app-region:drag !important;
}
[tromoSM="TitleB-org"] *{
    -webkit-app-region:no-drag;
}

p{
    padding: 0;
    margin: 0;
}
[action="copyKEY1"],[tromoSM=qrKEY1] svg{
    width: 25px;
    height: 25px;
}
[action="copyKEY1"]:hover,[action=qrKEY1]:hover{
    background-color: var(--main-actionkey-bg-hover);
}

[action="copyKEY1"],[action=qrKEY1]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    width: 25px;
    height: 25px;
    padding: 5px;
    outline: none;
    border-radius: 50px;
    border:none;
    background-color: var(--main-actionkey-bg);
}
[tromoSM="key-fill"] p{
    overflow: clip;
    width: max-content;
    position: absolute;

}
*{
    font-family: SF Pro;
}
[tromoSM=title-large]{
    width:100%;
    position: absolute;
    filter: drop-shadow(0px 0px 10px #000);
    text-align: center;
    color: white;
    overflow: hidden;
    font-size: 50px;
    font-weight: 700;
}
[tromoSM="80-flex"] {
    width: 100%;
    background: linear-gradient(180deg, transparent, #0000006e), url(/static/yo.webp);
    height: 90%;
    overflow: hidden;
    background-position-y: 50%;
    border-radius: 15px;
    position: relative;
    justify-content: center;
    align-items: center;
    will-change: height;
    display: flex;
    background-size: 50%;
    background-blend-mode: color-burn;
    animation:open-about 0.5s 1;
}
@keyframes open-about{
    from{
        height: 0px;
    }
    50%{
        height: 100%;
    }
    to{
        height: 90%;
    }
}
[tromoSM="flex-full-a"]{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 110px;
    justify-content: center;
    position: relative;
    align-items: center;
}
[tromoSM="key-fill"]{
    flex-wrap: nowrap;
    height: 29px;
    border-radius: 50px;
    padding: 0px 5px;
    width: 100px;
    display: flex;
    align-items: center;
    background-color: var(--main-key-fill-bg);
    margin: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: #bdbdbd 0px 0px 10px inset, 0px 0px 10px #0000004f;
}
[tromoSM=gradient-end-key]{
    width: 11px;
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--main-key-gradient-bg-middle), var(--main-key-fill-bg));
    position: absolute;
    right: 0;
    top: 0;
}
[tromoSM="flex-ewrap-key"]{
    display: flex;
    margin-top: 10px;
    border-radius:10px;
    padding: 0px 10px;
    width: fit-content;
    align-items: center;
    background: var(--main-el-bg);
}
[tromoSM="simp-flex-n"]{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap:5px;
    margin:10px 0px;
}
[setting]{
    background-color: var(--main-el-bg);
    color: var(--main-el-color);
    display: flex;
    align-items:center ;
    width: 80vw;
    border-radius: 10px;
    padding: 10px 20px;
}
[tromoSM="toggle$0"]{
    background-color: #d9d9d9;
    width: 35px;
    position: relative;
    display: flex;
    transition: 0.2s;
    overflow: hidden;
    height: 20px;
    border-radius: 50px;
    box-shadow: inset 0px 0px 10px #00000005;
    align-items: center;
}

[selectedtoggle=true]{
    background-color: #0dc751;
}
[selectedtoggle=true] div{
    left: 40%;
    right: 0;
}
[tromoSM='toggle$inside']{
    transition: 0.1s;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #00000059;
    width: 17px;
    margin: 0px 2px;
    height: 17px;
    border-radius: 50px;
    position: absolute;
    transform: translateY(-0.5px);
    left: 0;
}
html,body{
    padding: 0;
    margin: 0;
    font-family: SF Pro;
    background:var(--main-pg-bg);
    color: var(--main-el-color);
}
