[tromoSM="flex-wr-pos-abs"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 0;
}
[title="icon"]{
    height:28px;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}
[tromoSM=flex-wr-pos-ab-l]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    position: absolute;
    left: 0;
}
MINIMIZE,RESTORE,CLOSE{
    height: 100%;
    width: 46px;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    align-items: center;
    position: relative;
    background-color: rgba(253, 184, 255, 0);
}
MINIMIZE::before{
    background-color: rgb(255, 233, 35);
}
RESTORE::before{
    background-color: rgb(35, 255, 72);
}
CLOSE::before{
    background-color: rgb(255, 35, 35);
}
MINIMIZE::before,RESTORE::before,CLOSE::before{
    width: 100%;
    height:5px;
    filter: blur(8px);
    content:'';
    bottom: 0;
    z-index: -1;
    position:absolute;
    transform: translateY(20px);
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);  
}
[tromoSM=input-io-main]{
    width: 400px;
    height: 250px;
    display: flex;
    background-color: #e9e9e9;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    flex-direction: column;
    border-radius: 15px;
    flex-wrap: nowrap;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}
[tromoSM=playercontrols]{
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
[tromoSM=playercontrols] button svg{
        z-index: 1;
}
[tromoSM=playercontrols] button{
    width: 30px;
    border:none;
    outline: none;
    height: 30px;
    padding: 5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;
    z-index: 1;
    border-radius: 50px;
    background-color: #00000057;
}
[tromoSM=playercontrols] button::before{
    backdrop-filter: blur(15px) brightness(1.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    z-index: 0;
    border-radius: 50px;
}
[tromoSM=input-io-main] p{
    color: #333;
    font-weight: 500;
}
[tromoSM=main-prev]{
    position: absolute;
    top: 0;
    width: 400px;
    object-fit: cover;
    height: 250px;
}
[tromoSM=input-io-main]:hover{
    filter: brightness(0.8) ;
}
[tromoSM=input-io-main]:active{
    filter: brightness(0.6);
}
MINIMIZE:hover::before,RESTORE:hover::before,CLOSE:hover::before{
    transform: translateY(0px);
}
MINIMIZE:active::before,RESTORE:active::before,CLOSE:active::before{
    transform: translateY(0px);
    height: 100%;
    filter:blur(0px) brightness(1.1);
}
[tromoSM="TitleB-org"]{
    background-color: rgb(241, 241, 241);
    width: 100%;
    position: relative;
    margin-top: 1px;
    height: 28px;
    -webkit-app-region:drag !important;
}
*{
    -webkit-app-region:no-drag;

}
p{
    padding: 0;
    margin: 0;
}
html,body{
    padding: 0;
    -webkit-app-region:no-drag;
    margin: 0;
    font-family: SF Pro;
    background-color: white;
}
